/* 左侧定位 */
.leftDiv{
    width: 2.5rem;
    height: 100%;
    position: fixed;
    background: rgb(214 152 152 / 35%);
    left: 0;
    z-index: 2;

}


/* 右侧定位 */

.rightDiv{
    width: 2.5rem;
    height: 100%;
    position: fixed;
    background:#1b1b4852;
    right: 0;z-index: 2;


}

/* 地图中央都弹框 */

body .layui-layer{
    background-color: transparent;
    background: url(../img/u666666.png) no-repeat;
    width: 488px;
    height: auto;
    position: absolute;

}
body .layui-layer .layui-layer-title{
    background-color: transparent;
    color: #a1d1ff;
    line-height: 50px;
}
body .layui-layer .layui-layer-setwin{
    color: #a1d1ff;
}
/* 球机弹框 */
.qiuModal{
    padding: 5px 5px;
    margin: 5px 0 0 7px;
    /* height: 500px; */
    background: url(../img/u1.png) no-repeat;
    /* color: #a1d1ff; */
}
.qiuModal .qiuModalTtle{
    padding: 0 10px 0 20px;
    height: 42px;
    line-height: 50px;
    border-bottom: 2px solid #1e9fff;
    font-size: 16px;
    color: #a1d1ff;
    overflow: hidden;
  
    border-radius: 2px 2px 0 0;
}
.qiuModal .qiuModalTtle .layui-btn{
    float: right;
    margin: 3px 0;
}
.chicken{
    background: transparent;
}
.qiuModal div{
    /* width: 200px; */
    padding: 5px 5px;
    margin: 0 auto;
}
.qiuModal div p{
    display: inline-block;
    text-align: right;
}
.qiuModal div .qiuModalleft{
    color: #a1d1ff;
    text-align: right;
}
.qiuModal div .qiuModalRight{
    color: #197ad7;
    text-align: right;
    margin-left: 10px;
}

/* 侦测弹框样式 */
.zhenCeIDv{
    /* width: 488px; */
    background: url(../img/u666666.png) no-repeat;
    padding: 5px 5px;
    margin: 8px 0px 0 15px;
}
.zhenCeModal{
    /* margin: 7px 0 0 15px; */
    /* padding: 5px 10px; */
    /* height: 500px; */
    /* background: url(../img/u1.png) no-repeat; */
    /* color: #a1d1ff; */
}
.zhenCeModal .zhenCeModalTtle{
    padding: 0 20px 0 20px;
    height: 42px;
    line-height: 45px;
    border-bottom: 2px solid #1e9fff;
    font-size: 18px;
    color: #a1d1ff;
    overflow: hidden;
    margin: 0 2px 0 0;
    border-radius: 2px 2px 0 0;
}
.zhenCeModalTtleR,.zhenCeModalTtleL{
    padding: 0 0 11px 0;
    font-size: 15px;
    color: #a1d1ff;
    border-bottom: 2px solid #1e9fff;
}
.zhenCeModal .zhenCeModalTtle .layui-btn{
    float: right;
    margin: 3px 0;
}
.chicken{
    background: transparent;
}
.zhenCeModal div{
    /* width: 200px; */
    padding: 5px 5px;
    margin: 0 auto;
}
.zhenCeModal div p{
    display: inline-block;
    text-align: right;
}
.zhenCeModal div .zhenCeModalleft{
    color: #a1d1ff;
    text-align: right;
}
.zhenCeModal div .zhenCeModalRight{
    color: #197ad7;
    text-align: right;
    margin-left: 10px;
}
.zhenCeModal div .zhenCeModalbtn{
    display: inline-block;
    text-align: center;
    margin: 6px 5px;
}